.idea/
hessianserver/target/classes/
*.iml
hessianclient/target/test-classes/
hessianclient/target/classes/
hessianserver/target/test-classes/
hessianspringserver/target/classes/
service/target/test-classes/
service/target/classes/
hessianspringclient/target/test-classes/
hessianspringclient/target/classes/
